{% extends "admin/base/list.html" %}

{% block title %}
Users | {{ super() }}
{% endblock %}

{% block breadcrumbs %}
{% call bread.trail() %}
{{ bread.crust('Users') }}
{% endcall %}
{% endblock %}

{% block heading %}
<h2>Users</h2>
{% endblock %}

{% block thead %}
<th scope="col">Username</th>
<th scope="col">Role</th>
<th scope="col">Last Login</th>
<th scope="col">
    {{ column_icon('check', 'Active')}}
</th>
<th scope="col">
    {{ column_icon('key', 'Has Password')}}
</th>
{% endblock %}

{% block tbody %}
{% for user in users %}
<tr>
    <td>
        <a href="{{ url_for('.edit', id=user.id) }}"
            class="{% if not (current_user.can('user.edit') or (current_user.can('user.self') and current_user.id == user.id)) %}disabled{% endif %}">{{
            user.username }}</a>
    </td>
    <td>{{ user.role.name.capitalize() }}</td>
    <td>
        {% if user.last_login_at %}
        <span class="datetime">{{ user.last_login_at.isoformat() }}</span>
        {% else %}
        never
        {% endif %}
    </td>

    <td class="text-start">
        {{ is_present(user.is_active)}}
    </td>
    <td class="text-start">
        {{ is_present(user.password is string and user.password | length > 0) }}
    </td>
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block controls %}
<a class="btn btn-secondary" href="{{ url_for('.new') }}">New User</a>
{% endblock %}
