{% extends "admin/base.html" %}

{% macro counter(counter, title) %}
<div class="row me-5">
    <div class="col-6">
        <h2>{{ title }}</h2>
    </div>
</div>

<div class="row me-5 mt-3">
    <div class="col-xl-2">
        <div class="card">
            <div class="card-body">
                <h1>{{ counter.endpoint_visitors("core.home") }}</h1>
                <h6 class="card-subtitle mb-2 text-muted">Homepage</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card">
            <div class="card-body">
                <h1>{{ counter.blueprint_visitors("core") }}</h1>
                <h6 class="card-subtitle mb-2 text-muted">Visitors</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card">
            <div class="card-body">
                <h1>{{ counter.blueprint_visits("core") }}</h1>
                <h6 class="card-subtitle mb-2 text-muted">Visits</h6>
            </div>
        </div>
    </div>
</div>
<div class="row me-5 mt-3">
    <div class="col-6">
        <table class="table table-sm">
            <thead>
                <th>Page</th>
                <th>Visits</th>
            </thead>
            <tbody>
                {% for row in counter.top_n_pages(10, blueprint="core") %}
                <tr>
                    <td>{{ row['path'] }}</td>
                    <td>{{ row['count'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endmacro %}

{% block main %}
{{ counter(today, 'Today') }}
{{ counter(week, 'Last 7 Days') }}
{{ counter(month, 'This Month') }}

{% endblock %}
