<table class="table table-sm table-hover">
    <thead>
        {% for (_, column) in table.columns %}
        <th scope="col">{% include column.heading.template() %}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% set id = row.id %}
            {% for (_, column) in table.columns %}
            {% set item = row[column.attribute] %}
            <td>{% include column.template %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
